<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>671497959745-2of6o4f8l142kfukcvehg42vahabh0bg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671497959745-2of6o4f8l142kfukcvehg42vahabh0bg</string>
	<key>API_KEY</key>
	<string>AIzaSyAtO97IMFdfNIUJifdPIZu8yOogc1n_x3I</string>
	<key>GCM_SENDER_ID</key>
	<string>671497959745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>zytsai.Assessments</string>
	<key>PROJECT_ID</key>
	<string>focusassessment</string>
	<key>STORAGE_BUCKET</key>
	<string>focusassessment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:671497959745:ios:66d63509a3e8038a</string>
	<key>DATABASE_URL</key>
	<string>https://focusassessment.firebaseio.com</string>
</dict>
</plist>